* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
}

.cell {
    border: 1px solid whitesmoke;
}